<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--Google Fonts-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <!--Fonts-->
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

    <!--Icons-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

    <!--Styles-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="css\styles.css">

    <!--Title-->
    <title>Mercado Liebre - Inicio</title>
</head>

<body>
    <header>
        <div class="top-header">
            <div class="logo">
                <a href="/">
                    <img src="images\logo-mercado-liebre.svg" alt="Mercado Liebre" width="200px">
                </a>
            </div>
            <div class="form" action="#" method="GET">
                <input type="text" placeholder="Buscar productos, marcas y más">
                <button type="submit"><i class="fas fa-search"></i></button>
            </div>
            <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>
        </div>

        <div id="desplegable">
            <input type="checkbox" id="check">
            <label for="check" class="burger-menu">
                <i class="fas fa-bars"></i>
            </label>
            <nav>
                <ul class="compra">
                    <li><a href="#">Ofertas</a></li>
                    <li><a href="#">Tiendas Oficiales</a></li>
                    <li><a href="#">Vender</a></li>
                    <li><a href="#">Ayuda</a></li>
                </ul>
                <ul class="cuenta">
                    <li><a href="/register">Creá tu cuenta</a><i class="far fa-address-card"></i></li>
                    <li><a href="/login">Ingresá</a><i class="fas fa-sign-in-alt"></i></li>
                    <li><a href="#">Mis compras</a><i class="fas fa-shopping-basket"></i></li>
                </ul>
            </nav>

        </div>
    </header>

    <section class="banner">
        <img src="images\img-home-banner.jpg" alt="Banner de ofertas">
    </section>

    <main>
        <section class="last-visit">
            <h3>Basado en tu última visita</h3>
            <div class="products">
                <article>
                    <img src="images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera" class="product-img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="images\img-macbook-pro-2019.jpg" alt="imagen de MacBook" class="product-img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="images\img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" class="product-img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="images\img-tv-samsung-smart.jpg" alt="imagen del SmartTv" class="product-img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
        <section class="offers">
            <h3>Ofertas</h3>
            <div class="products">
                <article>
                    <img src="images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera" class="product-img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                            <p class="price">$6.770</p>
                            <p class="discount">40% OFF</p>
                        </div>
                        <h4 class="description">Cafetera Moulinex</h4>
                    </div>
                </article>
                <article>
                    <img src="images\img-macbook-pro-2019.jpg" alt="imagen de MacBook" class="product-img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                            <p class="price">$230.000</p>
                            <p class="discount">20% off</p>
                        </div>
                        <h4 class="description">MacBook Pro 2019</h4>
                    </div>
                </article>
                <article>
                    <img src="images\img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" class="product-img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                            <p class="price">$70.500</p>
                            <p class="discount">10% off</p>
                        </div>
                        <h4 class="description">Samsung Galaxy S10</h4>
                    </div>
                </article>
                <article>
                    <img src="images\img-tv-samsung-smart.jpg" alt="imagen del SmartTv" class="product-img">
                    <div class="main-article">
                        <i class="fas fa-truck"></i>
                        <div class="precios">
                            <p class="price">$23.200</p>
                            <p class="discount">5% off</p>
                        </div>
                        <h4 class="description">SmartTv Samsung 43"</h4>
                    </div>
                </article>
            </div>
        </section>
    </main>

    <footer>
        <div class="last-items">
            
            <section>
                <div class="i"><i class="fas fa-credit-card"></i></div>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y
                    siempre
                    es seguro!
                </p>
            </section>
            <section>
                <div class="i"><i class="fas fa-gift"></i></div>
                <h4>Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. Es un
                    beneficio de
                    Mercado Puntos.
                </p>
            </section>
            <section>
                <div class="i"><i class="fas fa-user-shield"></i></div>
                <h4>Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre
                    protegid@.
                </p>
            </section>

        </div>
        <section class="author">
            <h4 class="copy">Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>

</html>