<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mercado Liebre - Inicio</title>
</head>

<body>
    <header>
        <a href="/">
            <img src="images\logo-mercado-liebre.svg" alt="Mercado Liebre" width="200px">
        </a>
        <p>Lugar para poner la barra de búsqueda</p>
        <p>Comprá en cuotas y sin tarjeta de crédito</p>
        <nav>
            <ul>
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul>
                <li><a href="#">Creá tu cuenta</a></li>
                <li><a href="#">Ingresá</a></li>
                <li><a href="#">Mis compras</a></li>
            </ul>
        </nav>
        <section>
            <article>
                <img src="images\img-home-banner.jpg" alt="img-home-banner" width="100%">
            </article>
        </section>
    </header>
    <main>
        <section>
            <h2>Basado en tu última visita</h2>
            <div>
                <img src="images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="300px">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </div>
            <div>
                <img src="images\img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="300px">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </div>
            <div>
                <img src="images\img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="300px">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <div>
                <img src="images\img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="300px">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </div>
        </section>
        <section>
            <h2>Ofertas</h2>
            <div>
                <img src="images\img-cafetera-moulinex.jpg" alt="imagen de la cafetera" width="300px">
                <p>$6.770</p>
                <p>40% OFF</p>
                <h3>Cafetera Moulinex</h3>
            </div>
            <div>
                <img src="images\img-macbook-pro-2019.jpg" alt="imagen de MacBook" width="300px">
                <p>$230.000</p>
                <p>20% off</p>
                <h3>MacBook Pro 2019</h3>
            </div>
            <div>
                <img src="images\img-samsung-galaxy-s10.jpg" alt="imagen del Samsung Galaxy" width="300px">
                <p>$70.500</p>
                <p>10% off</p>
                <h3>Samsung Galaxy S10</h3>
            </div>
            <div>
                <img src="images\img-tv-samsung-smart.jpg" alt="imagen del SmartTv" width="300px">
                <p>$23.200</p>
                <p>5% off</p>
                <h3>SmartTv Samsung 43"</h3>
            </div>
        </section>
    </main>

    <footer>
        <section>
            <h4>Pagá con tarjeta o en efectivo</h4>
            <p>
                Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
            </p>
        </section>
        <section>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>
                Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles deproductos. Es un beneficio de Mercado Puntos.
            </p>
        </section>
        <section>
            <h4>Seguridad, de principio a fin</h4>
            <p>
                ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,porque estás siempre protegid@.
            </p>
        </section>
        <section>
            <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
        </section>
    </footer>
</body>

</html>